@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<cache expires-sliding="@TimeSpan.FromSeconds(10)">@DateTime.Now</cache>
<div>Aktuell: @DateTime.Now</div>